.footer {
  position: relative;
  color: #777;
  padding: 10px 20px;
  height: 20px;
  text-align: center;
  border-top: 1px solid #e6e6e6;
}

.todo-count {
  float: left;
  text-align: left;
}

.footer .button {
  color: #777;
  cursor: pointer;
  margin: 3px;
  padding: 3px 7px;
  text-decoration: none;
}

.footer .button:focus {
  outline: none;
}

.selected {
  border: 1px solid transparent;
  border-color: rgba(175, 47, 47, 0.2);
  border-radius: 3px;
}

.unselected {
  border: none;
}

.filters {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  left: 30%;
  display: flex;
}

.footer .clear-completed {
  border: none;
  background: none;
  float: right;
  position: relative;
  text-decoration: none;
  margin: 0;
  padding-top: 0.5px;
  padding-right: 0;
  line-height: 20px;
  font-size: 14px;
}

.footer .clear-completed:hover {
  text-decoration: underline;
}

.footer .show {
  visibility: visible;
}

.footer .hidden {
  visibility: hidden;
}
