body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: normal;
  line-height: 1.4em;
  color: #4d4d4d;
  font-weight: 300;
}

.input-field {
  font-size: 18px;
  padding: 10px 4px;
}

.todos {
  list-style: none;
  font-size: 18px;
  margin-left: 0;
  padding-left: 0;
}

.todo {
  text-decoration: none;
}

.todo--completed {
  text-decoration: line-through;
}